/* div {
    margin: 30px;
 } */

/* img {
    margin: 15px; 
} */

body {
    background-color: rgb(106, 67, 67);
    color: rgb(255, 226, 226);
}

header {
    display: flex;
    justify-content: center;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    margin:auto;
}

main section {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


}

/* section div {
    width: 50%;
} */

footer {
    height: 100px;
}

div {
    display: flex;
    flex-direction: row;
    height: 400px;

}

div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    height: auto;
    margin-left: 30px;
}

p {
    overflow: scroll;
    margin-top: 30px;;
    margin-bottom: 30px;
}

h1 {
    font-weight: bold;
}

button {
background-color: #5F9EA0;
}

button:hover {
    background-color: rgb(255, 226, 226);
    color: rgb(106, 67, 67);
    transition: background-color 350ms ease;
}